body {
    background-color: #aebaa5;
    font-family: Arial, sans-serif;
}
.contenedor {
    background-color: rgb(78, 237, 67);
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;

}
h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

select, input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
     
}
button {
    background-color: #5b1a08;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 40%;
    cursor: pointer;
    
}


