body{
    background-color: #808574;
    font-family: Arial, sans-serif;

}
.formulario {
    background-color: #a37a7a;
    width: 300px;
    margin: 100px auto;
    padding: 90px;
    border: 2px solid #ffffff;
   
}
.logo {
    float: right;
    height: 39px;
    margin-top: -39px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 6px;
   
}
button {
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;

}


